adf/pipeline/Feature.json
{
	"name": "Feature",
	"properties": {
		"description": "Generic copy pipeline that uses a watermark to know when the last load took place for incremental changes.",
		"activities": [
			{
				"name": "CopyTableData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If FeatureA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('TableSelect')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "DataLake",
							"type": "LinkedServiceReference"
						},
						"path": "lake/logs"
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSQL",
						"type": "DatasetReference",
						"parameters": {
							"ConnectionStringSecretName": {
								"value": "AdventureWorksSQL",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DataLakeBronze",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "Customers.csv",
								"type": "Expression"
							},
							"FolderPath": {
								"value": "featuredemo/customers/",
								"type": "Expression"
							},
							"TriggerTime": {
								"value": "@pipeline().parameters.RunDate",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "If FeatureA",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().globalParameters.FeatureA",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Regular Select",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableSelect",
								"value": "select * from SalesLT.Customer"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Feature A Select",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableSelect",
								"value": "select Title, FirstName, LastName from SalesLT.Customer"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Tables": {
				"type": "Array"
			},
			"RunDate": {
				"type": "string"
			}
		},
		"variables": {
			"TableSelect": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-09-23T12:36:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}